
.navbar {
    background-color: #4caf50;
    color: #ffffff; 
    padding: 10px 0;
}

.navbar-brand {
    color: #ffffff; 
    text-decoration: none;
    font-size: 24px;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link:hover {
    color: #c8e6c9; 
}


li {
    background-color: #81c784; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

li:hover {
    background-color: #66bb6a; 
    color: #ffffff; 
}


