
.navbar {
    background-color: #eeeeee;
    color: #ffffff; 
    padding: 10px 0;
}

.navbar-brand {
    color: #ffffff; 
    text-decoration: none;
    font-size: 24px;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link:hover {
    color: #eaeaea; 
}


li {
    background-color: #e4e4e4; 
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1.5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

li:hover {
    background-color: #d5dbff; 
    color: #ffffff; 
}

